<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注 册</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12"><h2>请登录</h2></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">用户名：</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="username" 
                  placeholder="username">
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-sm-2 control-label">密 码：</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="password" 
                  placeholder="password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="button" id="regist" class="btn btn-success">提 交</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>    
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $('#regist').click(function () {
        $.post('/doRegist', {
          username: $('#username').val(),
          password: $('#password').val()
        }, function (result) {
          if (result.status == 'success') {
            alert(result.message);
          } else {
            alert(result.message);
          }
        })
      });
    </script>
  </body>
</html>