<!DOCTYPE html>
<html lang="en">
<head>
  <title>Aspect Ratio with Preview Pane | Jcrop Demo</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  <link rel="stylesheet" href="/css/jquery.Jcrop.css" type="text/css" />
  <link rel="stylesheet" href="/css/crop.css">
</head>
<body>

<div class="container">
  <h1></h1>
  <div class="jc-demo-box">
    <img src="/avatar/<%= avatar %>" id="target" alt="[Jcrop Example]" />

    <div id="preview-pane">
      <div class="preview-container">
        <img src="/avatar/<%= avatar %>" class="jcrop-preview" alt="Preview" />
      </div>
    </div>
  </div>
  <button class="cut" type="button">裁 剪</button>
</div>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/jquery.Jcrop.js"></script>
<script src="/js/crop.js"></script>
</body>
</html>

