<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>简易聊天室</title>

    <style type="text/css">
      .login {
        width: 700px;
        height: 30px;
        padding: 50px;
        border: 1px solid black;
        margin: 0 auto;
      }
      input {
        font-size: 30px;
      }
    </style>
  </head>
  <body>
    <div class="login">
      <form action="/check" method="get">
        昵 称：<input type="text" name="nickname" />
        <input type="submit" value="进入聊天室" />
      </form>
    </div>    
  </body>
</html>